<!DOCTYPE html>
<html>
<head>
  <title>Cart </title>
</head>
<body>
  <h1>Cart </h1>
  <h3>{{this.cartID}}</h3>
  <table style="text-align: center;">
    <thead>
      <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
        <tr>
          <td>{{this.product._id}}</td>
          <td>{{this.product.title}}</td>
          <td>{{this.quantity}}</td>
          <td>{{this.product.price}}</td>
          <td>{{this.subtotal}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <h2>Total: {{this.total}}</h2>
</body>
</html>
