<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product management</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

</head>

<body onload="showMessage()">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="{{dynamicURL '/products/'}}">
            Products
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    </nav>
    <div class="container">
        <div>
            <h1>Página de administración de productos</h1>
            <p>Owner: {{email}}</p>
        </div>

        <div>
            <h2>Agregar un producto</h2>

            <form class="p-4 change-role-form" action="{{dynamicURL '/api/newproduct'}}" method="post">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" class="form-control" name="title" required>
                </div>
                <div class="form-group">
                    <label for="price">Price:</label>
                    <input type="number" class="form-control" name="price" required>
                </div>
                <div class="form-group">
                    <label for="code">Code:</label>
                    <input type="text" class="form-control" name="code" required>
                </div>
                <div class="form-group">
                    <label for="stock">Stock:</label>
                    <input type="number" class="form-control" name="stock" required>
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <input type="text" class="form-control" name="description" required>
                </div>
                <div class="form-group">
                    <label for="thumbnail">Thumbnail:</label>
                    <input type="text" class="form-control" name="thumbnail" required>
                </div>
                <div class="form-group">
                    <label for="category">Category:</label>
                    <input type="text" class="form-control" name="category" required>
                </div>
                <input type="hidden" name="owner" id="owner" value="{{email}}">
                <input type="hidden" name="message" id="message" value="{{message}}">
                <input type="hidden" name="status" id="status" value="true">
                <button type="submit" class="btn btn-primary" onclick="changeStatus()">Agregar producto</button>
            </form>

        </div>
    </div>

    <div class="container mt-4">
        <h2>Borrar un producto</h2>
        <form class="p-4 change-role-form" id="deleteForm">
            <input type="hidden" name="_method" value="DELETE">
            <div class="form-group">
                <label for="id">ID:</label>
                <input type="text" class="form-control" name="id" id="productIdInput" required>
            </div>
            <button type="button" class="btn btn-danger" onclick="deleteProduct()">Delete</button>
        </form>
    </div>



</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script>
    function deleteProduct() {
        const productId = document.getElementById("productIdInput").value;

        $.ajax({
            url: `/api/products/${productId}`,
            type: "DELETE",
            success: function (data) {
                Toastify({
                    text: "Producto eliminado con éxito",
                    duration: 3000,
                    newWindow: false,
                    close: true,
                    gravity: "top", // `top` or `bottom`
                    position: "right", // `left`, `center` or `right`
                    stopOnFocus: true, // Prevents dismissing of toast on hover
                    style: {
                        background: "red",
                    },
                    onClick: function () { } // Callback after click
                }).showToast();
                document.getElementById("productIdInput").value = "";
            },
            error: function (xhr, status, error) {
                // Handle error here
                console.error("Error deleting product:", error);
            }
        });
    }



    function showMessage() {
        const message = document.getElementById("message").value;
        if (message == "added") {
            Toastify({
                    text: "Producto agregado",
                    duration: 3000,
                    newWindow: false,
                    close: true,
                    gravity: "top", // `top` or `bottom`
                    position: "right", // `left`, `center` or `right`
                    stopOnFocus: true, // Prevents dismissing of toast on hover
                    style: {
                        background: "green",
                    },
                    onClick: function () { } // Callback after click
                }).showToast();
        }
        document.getElementById("message").value = "";
    }
</script>


</html>