<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="container">
        <div>
            <h1>Página de administración de productos</h1>
            <p>Owner: {{email}}</p>
            <input type="hidden" id="ownerEmail" value='test@owner.com'>
        </div>

        <div>
            <h2>Agregar un producto</h2>

            <form action="realtimeproducts" method="POST" id="addProductForm" onsubmit="addProduct">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" class="form-control" name="title" required>
                </div>
                <div class="form-group">
                    <label for="price">Price:</label>
                    <input type="number" class="form-control" name="price" required>
                </div>
                <div class="form-group">
                    <label for="code">Code:</label>
                    <input type="text" class="form-control" name="code" required>
                </div>
                <div class="form-group">
                    <label for="stock">Stock:</label>
                    <input type="number" class="form-control" name="stock" required>
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <input type="text" class="form-control" name="description" required>
                </div>
                <div class="form-group">
                    <label for="thumbnail">Thumbnail:</label>
                    <input type="text" class="form-control" name="thumbnail" required>
                </div>
                <div class="form-group">
                    <label for="category">Category:</label>
                    <input type="text" class="form-control" name="category" required>
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>

        </div>
    </div>

    <div class="container mt-4">
        <h2>Borrar un producto</h2>
        <form action="realtimeproducts?method=DELETE" method="POST">
            <div class="form-group">
                <label for="id">ID:</label>
                <input type="text" class="form-control" name="id" required>
            </div>
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>

    <div class="container mt-4">
        <h2>Lista de productos</h2>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Code</th>
                    <th>Stock</th>
                    <th>Description</th>
                    <th>Thumbnail</th>
                    <th>Category</th>
                    <th>Owner</th>
                </tr>
            </thead>
            <tbody>
                {{#each productos}}
                <tr>
                    <td>{{this._id}}</td>
                    <td>{{this.title}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.code}}</td>
                    <td>{{this.stock}}</td>
                    <td>{{this.description}}</td>
                    <td><img src={{this.thumbnail}} alt={{this.thumbnail}} width="50"></td>
                    <td>{{this.category}}</td>
                    <td>{{this.owner}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <div class="container mt-4">
        <div id="productos"></div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
<script>

    const ws = io('{{http://localhost:8080}}', { forceNew: true });

    function addProduct(e) {
        const product = {
            title: document.getElementById("title").value,
            price: document.getElementById("price").value,
            code: document.getElementById("code").value,
            stock: document.getElementById("stock").value,
            description: document.getElementById("description").value,
            thumbnails: document.getElementById("thumbnail").value,
            category: document.getElementById("category").value,
            owner: document.getElementById("ownerEmail").value
        }
        socket.emit("addProduct", product)
        return false
    }

    function render(dataProduct) {
        const html = dataProduct.map((item, index) => {
            return (`<tr>
                <td>${item._id}</td>
                <td>${item.title}</td>
                <td>${item.price}</td>
                <td>${item.code}</td>
                <td>${item.stock}</td>
                <td>${item.description}</td>
                <td><img src=${item.thumbnail} alt=${item.thumbnail} width="50"></td>
                <td>${item.category}</td>
                <td>${item.owner}</td>
            </tr>`)
        }).join(" ")

        document.getElementById("productos").innerHTML = html;
    }

    ws.on("addProduct", function (newProduct) { render(newProduct) })

</script>


</html>